.app {
  display: flex;
  justify-content: center;
}
.container {
  background-color: aliceblue;
  height: 694px;
  width: 554px;
  border-radius: 10px;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 3px solid black;
  padding: 25px;
}
.title {
  font-size: 4rem;
  color: cornflowerblue;
  font-weight: 700;
  font-family: monospace;
  padding-top: 20px;
}
.text {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: monospace;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 40px;
}
.name {
  font-weight: 600;
  width: 20%;
}
.custom_input {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 10px;
  align-items: baseline;
}
.input {
  width: 75%;
  height: 30px;
}
.input_textarea {
  width: 75.4%;
  resize: none;
}
.input_select {
  width: 76.49%;
  height: 36px;
}
.custom_submit {
  background-color: #0098da;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px;
  width: 50%;
  position: relative;
  top: 10px;
  cursor: pointer;
}
.error {
  border: 1px solid red;
}
.error_image {
  color: red;
}
